<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ecolect.BackEnd.Properties.Settings.ecolectDbConnectionString"
            connectionString="Data Source=WIN-Q3NET6LBQ0E\SQLEXPRESS;Initial Catalog=ecolectDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>