@{
    ViewBag.Title = "Index";
}


<div id="mainBox" class="container">

    <section id="firstPage">

        <div id="introVideo">

            <div class="col-lg-12 text-center">
                <img class="text-center" width="100%"  src="~/assets/images/COVER.png">
            </div>

        </div>

        <div class="clearfix"></div>

        <div id="aboutText" class="col-lg-12 text-center">
            <p>
               ECOLECT es un medio que facilita la identificación de las zonas de mayor riesgo socio-ambiental e incentiva a los agentes de cambio para actuar por medio de campañas de recolección de residuos.

                 </p>

        </div>

        <!-- End  First Page-->
    </section>

    <div class="clearfix"></div>

    <section id="info">

          <div class="row">

                <div class="itemRegistro col-lg-3">

                    <div class="col-lg-12 text-center">
                        <img class="imagenInstruction text-center" src="~/assets/images/ICONO-ALERTA.png" alt="">
                    </div>
                    <div  class="text-center col-lg-12">                        
                         <h1 class="h1Opciones"> Crea una alerta</h1>                        
                    </div>
                     <div  class="text-center col-lg-12">
                         <p style="padding:1em;"> 
                        Esta opción te permite denunciar las zonas de mayor riesgo de contaminación al mapear y subir una foto en cuestión de segundos. 
                        </p>
                    </div>
                </div>

                <div class="itemRegistro col-lg-3 ">
                     <div class="col-lg-12 text-center">
                        <img class="imagenInstruction text-center" src="~/assets/images/imagencorpo-ecolect-PERFIL.png" alt="">
                    </div>
                   <div  class="text-center col-lg-12">                       
                           <h1 class="h1Opciones">Crea un perfil</h1>                        
                    </div>
                    <div  class="text-center col-lg-12">
                        <div  class="text-center col-lg-12">
                        <p style="padding:1em;"> 
                         Unite al movimiento socio-ecológico junto con más agentes de cambio y líderes sociales que creemos en que existe una solución. 
                        </p>
                    </div>
                    </div>
                </div>

                <div class="itemRegistro col-lg-3">
                    <div class="col-lg-12 text-center">
                        <img class="imagenInstruction text-center" src="~/assets/images/ICONO-GRUPO.png" alt="">
                    </div>
                  <div  class="text-center col-lg-12">                        
                           <h1 class="h1Opciones">Crea/Unite a una Campaña</h1>                        
                    </div>
                      <div  class="text-center col-lg-12">
                         <p style="padding:1em;"> 
                         Ser verde, ser limpio y cuidar nuestro ambiente es un estilo de vida.
                        </p>
                    </div>
                </div>

               <div class="itemRegistro col-lg-3">
                      <div class="col-lg-12 text-center">
                        <img class="imagenInstruction text-center" src="~/assets/images/ICONO-ECOINS.png" alt="">
                    </div>
                     <div  class="text-center col-lg-12">                        
                           <h1 class="h1Opciones"> Obten Puntos </h1>                        
                    </div>
                    <div  class="text-center col-lg-12">
                        <p style="padding:1em;"> 
                         Canjea el material reciclable por productos de nuestros patrocinadores.
                        </p>
                    </div>
                </div>

            </div>


       
            <!-- End  Second Page-->
    </section>


    <div class="clearfix"></div>

    <section id="register">


        <div id="registerTitle" class="text-center">
            <h1>Escoge la mejor opción para tu registro!</h1>
        </div>

        <div id="registerOptions">


            <div class="row">

                <div class="itemRegistro col-lg-4 text-center">

                    <div class="">
                        <img class="imagenRegistro" width="176px" src="~/assets/images/ICONOS-GRANDEES1.png" alt="">
                        
                    </div>                   
                </div>

                <div class="itemRegistro col-lg-4 text-center ">
                    <div class="">
                        <img class="imagenRegistro" width="" src="~/assets/images/ICONO-REGISTRO-GRANDE-1.png" alt="">
                    </div>                  
                </div>

                <div class="itemRegistro col-lg-4 text-center">
                    <div class="">
                        <img class="imagenRegistro" width="180px" src="~/assets/images/ICONO-REGISTRO-GRANDE.png" alt="">
                    </div>                   
                </div>

            </div>

        </div>



        <!-- End  Third Page-->
    </section>




    

    <!-- End Main Container-->
</div>

