@{
    ViewBag.Title = "ListarAlertas";
}

<script src="~/Scripts/js/dataservices/alertas.dataservices.js"></script>
<script src="~/Scripts/js/alertas/listar.alertas.js"></script>

<div id="divListarAlertas" class="container">

    <div class="clearfix"></div>

    <section id="pendingAlerts" class="container">
        <div id="" class="row">
            <div class="col-lg-1"></div>
            <div id="map"   class="col-lg-10 mapPendingAlerts"></div>
         
            <div class="col-lg-1"></div>
        </div>

        <!-- End Anonymous Alert-->
    </section>


</div>
